
/*Разлиновка верних компонентов*/
.container {
    display: grid;
    gap: 20px;
    grid-template-columns: 15% 15% auto auto auto auto;
    padding: 10px 10px 10px 10px;
  }

  .centerobgect{
    margin-left: auto;
    margin-right: auto;

    height: 100%;
    vertical-align: middle;
    content: "";
    

  }

  .textphonemaill{
    color: #007CC2;
    font-family: Montserrat;

    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .text{
   font-weight: 600;
  }