
/*Разлиновка верних компонентов*/
.container {
    display: grid;
    gap: 20px;

    grid-template-columns: 20% 15% 15% 15% 15% 20%;
  }

  .centerobgect{
    margin-left: auto;
    margin-right: auto;

    height: 100%;
    vertical-align: middle;
    content: "";
    

  }