@tailwind base;
@tailwind components;
@tailwind utilities;


.textmegatel{

	font-size: 100px;
    font-weight: bold;
	color: #FFFFFF;
	text-shadow: 
		-0   -4px 0   #007CC2,
		 0   -4px 0   #007CC2,
		-0    4px 0   #007CC2,
		 0    4px 0   #007CC2,
		-4px -0   0   #007CC2,
		 4px -0   0   #007CC2,
		-4px  0   0   #007CC2,
		 4px  0   0   #007CC2,
		-1px -4px 0   #007CC2,
		 1px -4px 0   #007CC2,
		-1px  4px 0   #007CC2,
		 1px  4px 0   #007CC2,
		-4px -1px 0   #007CC2,
		 4px -1px 0   #007CC2,
		-4px  1px 0   #007CC2,
		 4px  1px 0   #007CC2,
		-2px -4px 0   #007CC2,
		 2px -4px 0   #007CC2,
		-2px  4px 0   #007CC2,
		 2px  4px 0   #007CC2,
		-4px -2px 0   #007CC2,
		 4px -2px 0   #007CC2,
		-4px  2px 0   #007CC2,
		 4px  2px 0   #007CC2,
		-3px -4px 0   #007CC2,
		 3px -4px 0   #007CC2,
		-3px  4px 0   #007CC2,
		 3px  4px 0   #007CC2,
		-4px -3px 0   #007CC2,
		 4px -3px 0   #007CC2,
		-4px  3px 0   #007CC2,
		 4px  3px 0   #007CC2,
		-4px -4px 0   #007CC2,
		 4px -4px 0   #007CC2,
		-4px  4px 0   #007CC2,
		 4px  4px 0   #007CC2,
		-4px -4px 0   #007CC2,
		 4px -4px 0   #007CC2,
		-4px  4px 0   #007CC2,
		 4px  4px 0   #007CC2;
    
}