.bg {
  background: #009cf3;
}


.text {
  font-family: var(--font-Montserrat);

  vertical-align: middle;

  color: #ffffff;

  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.line{
  border-bottom: solid 5px #ff0000;
  height: 15px;
  width: 1280px;
}


