.bg {
  background: #009cf3;
  min-width: auto;
  min-height: auto;
}
.container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px 10px 10px 10px;
}

.text {
  margin-left: auto;
  margin-right: auto;
  font-family: "Montserrat", sans-serif;

  vertical-align: middle;

  color: #ffffff;

  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.containervertical1 {
  display: grid;

  grid-template-rows: auto auto;
}
.containervertical2 {
  display: grid;

  grid-template-rows: auto auto auto;
}
